
.page {
    background-color: #e6dfdd;
    display: flex;
    flex-direction: column;
    border: solid 2px black;
    min-height: 100%;
}
.half_page {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-items: center;
    padding: 0;
    padding: 1.75rem;
    
}

.game_info {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.game_info h2 {
    padding: 10px;
    background-color: transparent;
    border: solid 2px #aca7a6;
    flex: 1;
}

.option_button {
    padding: 10px;
    background-color: transparent;
    border: solid 2px #aca7a6;
}

.option_button.correct {
    background-color: #52ae61;
}
.option_button.incorrect {
    background-color: #dc0c2e;
}

button:disabled {
    filter: contrast(50%);
    cursor: not-allowed;
}
button:hover:not([disabled]) {
    background-color: #27abff;
}

.answer_options {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 100%;
}

.card {
    flex: 1;
    border: solid 2px #aca7a6;
}

.card h2 {
    border-bottom: solid 2px #aca7a6;
    padding: 0.5rem;
    text-align: center;
    width: 100%;
}
.card img {
    object-fit: cover;
    padding: 1.5rem;
}

.timer {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    border: solid 2px #aca7a6;
    border-radius: 25px;
}
.timer button {
    flex: 1;
    padding: 0.5rem;
    border-radius: 25px;
    background-color: #aca7a6;
}
.timer h2 {
    flex: 1;
    text-align: center;
    padding: 0.5rem;
}

@media only screen and (min-width: 768px) {
    .page {
        flex-direction: row;
        border: solid 1px black;
    }
    .half_page {
        border: solid 1px black;
    }
}