@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .searchInput, .teamMenu {
        border-radius: 0 !important;
        @apply w-full bg-poke_blue p-3 border-b-2 border-black placeholder-black outline-none
    }
    h2, a, input, ul, span{
        @apply text-base sm:text-lg xl:text-xl 2xl:text-2xl
    }
}

body {
    font-family: "Pixelify Sans", sans-serif;
}

.app-title {
    @apply border border-2 border-gray25 rounded-full py-3 px-5 text-3xl text-transparent bg-clip-text;
    background-image: linear-gradient(90deg, #DC0C2E 35%, #ffcf00 50%, #52AE61 55%, #27ABFF 60%, #B97FC9 65%);
}

.dot-list li::before {
    content: "•";
    margin-right: 0.5em;
}

/* toastify css customize */
.Toastify__toast {
    border-radius: 2px;
    font-family: "Pixelify Sans", sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}