@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .searchInput, .teamMenu {
        border-radius: 0 !important;
        @apply w-full bg-poke_blue p-3 border-b-2 border-black placeholder-black outline-none
    }
    h2, a, input, ul, span{
        @apply text-base sm:text-lg xl:text-xl 2xl:text-2xl
    }
}

body {
    font-family: "Pixelify Sans", sans-serif;
}

.app-title {
    @apply border border-2 border-gray25 rounded-full py-3 px-5 text-3xl text-transparent bg-clip-text;
    background-image: linear-gradient(90deg, #DC0C2E 0%, #FD7D24 20%, #F9FD24 40%, #52AE61 60%, #27ABFF 80%, #B97FC9 100%);
}

.dot-list li::before {
    content: "•";
    margin-right: 0.5em;
}